[2015-07-07 04:05] Scotchester opened #4 "Sticky Notes"
The information on Sticky Notes on the ["Specific words and phrases"](https://pages.18f.gov/content-guide/specific-words-and-phrases/) page is incorrect. The [trademark](http://tmsearch.uspto.gov/bin/showfield?f=doc&state=4807:ven4mr.2.12) applies to "pads of adhesive-backed paper notes".

[2015-07-07 14:32] awfrancisco opened #5 "Typo"
@18F Great job with the guide, there's one small typo though after "websites" when giving the footnote:

https://twitter.com/OpsBug/status/618425204558200832

[2015-07-07 14:47] OriHoffer opened #6 "Typo/Grammar issues"
"This guide takes into account that frustration as well as several commonly..."

  - Should be "This guide takes that frustration into account, as well as several..."

"make a copy of this document and adapt its to your organizational needs."

  - Should be 'it' not 'its'

[2015-07-07 15:19] awfrancisco commented on #4
Thanks for the heads up. We are going to remove that section from Specific words and phrases and transfer the guidance to a new, expanded section on Trademarks and brands. That section should be live this week.

[2015-07-07 15:21] awfrancisco commented on #5
Fixed https://github.com/18F/content-guide/commit/228b73bc4071a0b6fed0e6ec8e1e6d065615cfd7

[2015-07-07 15:21] #5 closed

[2015-07-07 15:21] awfrancisco commented on #6
Fixed https://github.com/18F/content-guide/commit/228b73bc4071a0b6fed0e6ec8e1e6d065615cfd7

[2015-07-07 15:21] #6 closed

[2015-07-07 18:33] Scotchester commented on #4
:+1:

[2015-07-07 20:56] kategarklavs opened #8 "Add a section or guide about content research/testing"
@khandelwal also suggested including a research/testing section in the Content Guide. This could take the form of a new section, or it could be its own guide. (We discussed this briefly during the blog huddle — topic warrants further discussion.)

cc @jeanninehunter @awfrancisco @emileighoutlaw @gboone

[2015-07-07 20:57] kategarklavs opened #9 "Add mention of Hemingway App"
@khandelwal suggested that we might mention the Hemingway App in the Content Guide — adding an issue as a reminder to add a small section about the app.

[2015-07-07 20:58] awfrancisco opened #10 "Image section"
Add a guide for image. Could include:
- Common 18F sizes
- Link to accessibility requirements
- Copyright rules
- Cropping guidelines
- Sites to look for good images
- Guidelines for picking stock images
- When to use images vs graphics

[2015-07-07 20:59] wslack opened #11 "Question about FAQs"
From previous work, I think an FAQ is sometimes super useful as a place to publicly track questions received and answers given via e-mail, which can then be moved en masse during a content sprint. An FAQ becomes a more public issues list, for example.

[2015-07-07 22:28] emileighoutlaw commented on #11
I think you're right that there are a few instances where an FAQ is the best format for information. But, in general, those are exceptions to a larger rule that FAQs often mask poor content design and strategy. And I think our goal for this guide is to illuminate best practices, acknowledging that there are exceptions to every rule. We aren't prescriptivists, after all! :)

[2015-07-07 23:04] wslack commented on #11
Agreed. If you don't clear out the material in an FAQ, it's not working correctly. The impression I get from the current text is "don't have FAQs and fix problems as they come up"

I guess my sentiment is that this feels pretty prescriptive (but is also a tall order), hence the suggest of an alternate strategy for some situations.

[2015-07-08 14:54] emileighoutlaw commented on #11
For what it's worth, our FAQ section has probably gotten the most positive feedback of any section in the guide. Bad FAQs abound — they're a systemic content problem.

More importantly, we'd rather err on the side of scaring away one or two valuable FAQs to avoid exponentially more bad ones. A utilitarian approach, if you will.

And if _you_ ever think we need to add an FAQ to our site content, ou

[2015-07-08 15:06] wslack commented on #11
Makes sense!

[2015-07-08 15:06] #11 closed

[2015-07-08 18:24] awfrancisco commented on #4
The new section is live
https://pages.18f.gov/content-guide/trademarks-and-brands/

[2015-07-08 18:24] #4 closed

[2015-07-10 17:04] arvalarva opened #14 "Capitalization: proper nouns"
Hi,
Thanks for the capitalization guidelines. Can you address proper nouns in the guidance? I know it's common sense, but I think it will be useful to remind readers of that exception. Thanks, Arva (USPTO)

[2015-07-13 13:34] awfrancisco commented on #14
Hey Avra! Thanks for the suggestion. We'll work on drafting that addition.

[2015-07-13 18:52] awfrancisco opened #15 "Citizen"
Add guidance around using the word "citizen" as a generic term for people who live inside the U.S. Many government services serve non-citizens and individuals with various immigrations/visa statuses.

Could go in Conscious style section?

[2015-07-13 18:53] awfrancisco commented on #15
Add exception for citizen-only services.

[2015-07-13 20:21] emileighoutlaw commented on #15
+1,000 to this. In newspaper, we always said "Iowa City residents" to be inclusive, but I think the term "resident" has specific legal meaning. Any ideas on what broad term we might use?

[2015-07-13 20:33] awfrancisco commented on #15
Public? Americans?

[2015-07-13 20:34] kategarklavs commented on #15
@emileighoutlaw Some projects use "public" (especially when it's not known whether the reading audience will include only citizens).

[2015-07-13 20:35] emileighoutlaw commented on #15
+1 to public!

[2015-07-14 17:56] emileighoutlaw opened #16 "endorsements"
Add guidance about not talking about specific products we use at 18F? Goes in Trademark and brands maybe?

[2015-07-14 17:59] awfrancisco commented on #16
I think that would be a good place for it. Just need a little expansion of that section that basically says it's ok to point to a product or educational resource, but not to say it's the best thing since sliced bread. Also should put something in there about talking about the products we use day to day. Seems to be more of a restriction on that.

[2015-07-14 19:16] emileighoutlaw opened #17 "User Centered Design et al"
user centered design? Or user-centered design? Same for human-centered design. And human-computer interaction (caps? hyphen?)

Seems in the same vein as open source software.

[2015-07-14 19:17] emileighoutlaw commented on #17
Although wikipedia: https://en.wikipedia.org/wiki/User-centered_design

[2015-07-14 19:38] awfrancisco commented on #17
I'd go hyphen on all of these, though I don't think we need to include human-computer interaction in the guide. How often does that come up?

[2015-07-14 19:59] carodew opened #18 "Consider adding guidance for Log in, Log-in, Login …"
I've found this term can be tricky for people, especially when it's used as a noun vs. verb vs. adj.

"I couldn't log in to the website because the log-in page was totes janky." (Or whatever standard you guys decide on.)

Also I've been using this guide since it launched – thanks!

[2015-07-14 20:40] kategarklavs commented on #17
+1 to user-centered design and human-centered design. (And, if we were to use it, I'd vote in favor of human-computer interaction vs. human computer interaction, though I've never actually used this phrase ...)

[2015-07-14 21:11] kategarklavs commented on #18
@carodew: Thanks for this suggestion! We'll add a section clarifying uses of log in vs. login.

[2015-07-14 22:03] dispatchrabbi opened #19 "Rethink the prohibition on passive voice"
The given rationale for avoiding passive voice is that it "allows the reader to more easily identify each sentence's subject." (https://pages.18f.gov/content-guide/active-voice/) However, when used effectively, passive voice actually serves to make the *topic* of the sentence the grammatical *subject*, therefore making it easier to discern.

A good example of this focus shift can be seen here:

Th

[2015-07-15 02:11] richardcornish opened #21 "Link to Content Guide in GitHub "website" field"
It would be nice if the project's URL was in the GitHub project description space. (The "website" input to the right of the "description" input at the top of the repository page.) Otherwise, there's no way to find it from the project page.

https://pages.18f.gov/content-guide/

[2015-07-15 02:16] richardcornish opened #22 "Inconsistent use of quotes and italics"
There seems to be an inconsistent use of quotation marks and italics to denote examples, sometimes in the same sentence. For example:

And other times a character is literally used without special formatting.

and

https://pages.18f.gov/content-guide/specific-words-and-phrases/

There should probably be one style used to denote examples throughout the text.

[2015-07-15 02:27] richardcornish opened #23 "Encourage orgs to adopt a style "stack""
In most publishing places, there is typically an order of precedence when writing to a particular style. Usually, the order is:

1. In-house style
2. Adopted style guide (18F, Associated Press, Chicago Manual of Style)
3. Dictionary

If following AP, the dictionaries to follow are:

- Webster’s New World College Dictionary (not made by M-W)
- Webster's Third New International Dictionary

If follow

[2015-07-15 13:52] arvalarva commented on #23
I disagree. Your guidance on heading capitalization alone has caused a stir in my agency. 7 years ago, we followed AP Style stringently. Then 5 years ago, along came a capitalization queen who had us follow AP Style with title case headlines and “Government.” Now, we have a mish-mash of title and sentence case throughout our projects, and the title-case lovers are scared to leave that practice.

T

[2015-07-15 14:00] awfrancisco commented on #21
Good call. URL added.

[2015-07-15 14:00] #21 closed

[2015-07-15 15:11] emileighoutlaw commented on #17
Human-computer interaction is a field of research, so I think it might come up in technology writing — if not for us, definitely for people who might look to us for guidance.

https://en.wikipedia.org/wiki/Human%E2%80%93computer_interaction

[2015-07-15 15:16] awfrancisco commented on #17
I still think that's a little obscure for us. And the correct answer, human-computer interaction, is not an abnormal construction, so I don't think we need to include it.

[2015-07-15 19:56] emileighoutlaw opened #26 "Years"
'90s for 1990s. Likely for specific words and phrases section.

[2015-07-15 20:17] awfrancisco commented on #26
That sounds a little informal to me, even for a blog post. Definitely wouldn't recommend it for product content.

[2015-07-15 20:27] emileighoutlaw commented on #26
We've already done it the first FEC API post ("since opening its doors in the '70s"), and it's also in the TBT post. I can definitely see some informal decades coming up in future TBT blog posts. Happy to ban if other people agree.

[2015-07-15 20:36] kategarklavs commented on #26
Would it be appropriate to recommend full years in most cases, but note that less formal contexts (blog posts) warrant the abbreviated version?

I'm a fan of the abbreviated version in more casual instances, but it might seem weird in other contexts (tax forms, official applications, etc.).

[2015-07-15 21:33] awfrancisco commented on #26
Maybe it would be better to frame it as a permission instead of a guideline. If you feel the need in an informal context to use '90, then we aren't going to edit you back to using 1990. But I don't think we should recommend that people choose '90 over 1990.

[2015-07-15 21:39] kategarklavs commented on #26
Thumbs up to this.

On Wed, Jul 15, 2015 at 2:33 PM, Andre Francisco notifications@github.com
wrote:

[2015-07-17 20:51] awfrancisco opened #28 "Fiscal Year"
Guidance on capitalization and whether abbreviation is ok.

[2015-07-17 21:14] jameshupp opened #29 "Use of stock imagery"
If ever, when do we/when don't we? What makes it good/not good?

[2015-07-21 19:36] awfrancisco opened #30 "Project names"
Guidance on capitalization and general constructions of project names. For instance, do we prefer "openFOIA" or "OpenFEC."

[2015-07-24 16:33] kategarklavs opened #32 "Update plainlanguage.gov entry in Resources section"
Please replace "plainlanguage.gov" with Plain Language Action and Information Network (PLAIN) (linked to plainlanguage.gov) on the references page.

[2015-07-24 17:25] arvalarva commented on #32
Ah, you made my Friday.

[2015-07-24 17:47] kategarklavs commented on #32
Excellent!

[2015-07-24 21:41] #19 closed

[2015-07-28 14:36] awfrancisco opened #34 "Add single space guidance"
One space after a period. No exceptions.

[2015-08-03 19:57] melodykramer commented on #15
https://github.com/18F/content-guide/pull/36 addresses this.

[2015-08-03 20:01] #15 closed

[2015-08-10 14:54] melodykramer opened #38 "Include note for why we differ from GPO"
We can use this, if you'd like:

Although we are aware of the GPO, we used AP as a basis for our style guide. We decided to use lower case lettering for a few reasons:

1. We feel that readers are slowed down by capital words. So even if we contradict the GPO,`federal government` is ultimately more friendly and faster to read and comprehend.

2. We took some inspiration from this plain language pa

[2015-08-11 19:57] awfrancisco commented on #18
What about this for our guidance? To go in the Specific words and phrases section.

log in as a verb, for example You must log in to access your calendar.
login as a noun, for example I forgot my login name and password.
log-in as an adjective, for example Make sure the log-in page is 508 compliant.

[2015-08-11 20:39] carodew commented on #18
@awfrancisco seems clear to me. Do we have an opinion on whether to use log in vs. sign in?

[2015-08-11 20:49] awfrancisco commented on #18
Looked at this some more and I think this might be better. Also, I don't think we have a preference on log in vs sign in.
-   **login** when used as noun, for example, _I forgot my login name and password_, or when used as an adjective, for example _Make sure the login page is 508 complaint._
  - **log in** when used as a verb, for example, _You must log in to access your calendar._

[2015-08-12 19:00] #32 closed

[2015-08-14 14:27] jameshupp commented on #38
We might want to be more explicit that our mission is making government technology better as a tool of public service.

Digital content should be useful and usable. Opting for lower-case `federal governmentIt's not necessarily more _useful_, but things can be useful in different ways. Usefulness as a record is one thing, and being as official as possible helps for that. But in many cases, what mak

[2015-08-14 15:00] jameshupp commented on #34
:+1: Do we want to say why? Or just "This is the rule"? I could see going both ways. (The other question is whether Jekyll—our most frequent but not sole platform—collapses spaces whether the writer wants it to or not.)

[2015-08-14 15:02] jameshupp commented on #30
We should probably distinguish between choices we get to make by our lonesome and choices made with a partner agency. Seems worth an extra sentence to carve out time for respecting the partner's style when it's a project for them.

[2015-08-14 15:03] #26 closed

[2015-08-14 15:07] #18 closed

[2015-08-14 15:14] awfrancisco commented on #34
I think we can just state that this is the rule. They why would have to go into monospace fonts and the origin of the double space. I'm not sure how jekyll handles them, but we just run in to a ton of them while editing posts in Google Docs. Takes up editing time.

[2015-08-14 15:17] #17 closed

[2015-08-14 15:18] awfrancisco commented on #30
Yeah. This is a tricky guidance. Obviously, if a partner agency has a set name we should go with it, but if we're involved in the branding, what are our capitalization guidelines and other naming conventions? Would we let an agency do something super governmental like The Consolidated Office of Lawn Mower Operators and Technicians? Would we object to Silicon Vally naming conventions like Mowr? Thi

[2015-08-14 15:19] jameshupp commented on #34
Yeah, I actually started a reply to the issue with a paragraph-long example of monospace type explaining the origin, both with and without the double space, as a way of demonstrating what we no longer worry about.

It, uh, started to feel a bit too cheeky for its own good.

[2015-08-14 17:06] arvalarva commented on #34
I include a link to a reputable source that addresses the one-space issue, to keep it simple. Too bad the apstylebook.org reference isn’t public, since that would be the logical place to send the audience.

Homehttp://www.apstylebook.com/online/? > AP Stylebookhttp://www.apstylebook.com/online/?do=chapter > Chapter Punctuationhttp://www.apstylebook.com/online/?do=chapter&chapter=PUNCTUATION > Peri

[2015-08-14 19:08] awfrancisco commented on #34
I know it's not our style guide of reference, but the GPO is linkable and concise on this issue.

[2015-08-14 19:11] awfrancisco commented on #16
Addressed in #13

[2015-08-14 19:11] #16 closed

[2015-08-14 19:11] awfrancisco commented on #10
Addressed in #42

[2015-08-14 19:11] #10 closed

[2015-08-14 22:39] jameshupp commented on #22
I've looked through and think we've managed to bring everything in line, so I'm going to close this. We'll keep an eye out for this in future content as we continue to develop the guide.

[2015-08-14 22:39] #22 closed

[2015-08-17 15:23] awfrancisco opened #46 "Add more simple word choices"
Go through this list and see if we should adopt any of these for our list of words to avoid.

http://www.kingcounty.gov/exec/styleguide/concisewriting/simplerwords.aspx

[2015-08-26 18:13] arvalarva opened #50 "Curious why "18F Content Guide" is using title case"
Thanks

[2015-08-26 20:17] awfrancisco commented on #50
Thanks for the question. We capitalize it because we're treating the 18F Content Guide as a proper noun.

[2015-09-01 19:51] kategarklavs opened #52 "Create voice and tone section"
We do talk a bit about addressing the user as "you" and writing in an accessible way, but we don't yet have a dedicated voice/tone section.

[2015-09-04 17:36] awfrancisco opened #53 "Add front end guidance"
I thought we had guidance in specific phrases about front end developer, but it looks like we only have back end. Did front end get removed?

[2015-09-04 17:37] emileighoutlaw commented on #53
I don't think on purpose. We definitely should.

On Fri, Sep 4, 2015 at 1:36 PM, Andre Francisco notifications@github.com
wrote:

[2015-09-04 17:47] awfrancisco commented on #53
I'll make a PR for it.

[2015-09-18 13:05] awfrancisco opened #55 "Names on second reference"
Add guidance for how we refer to people on second reference, both inside and outside the organization.

[2015-09-18 18:20] carodew opened #57 "Idea: Add guidance on when to style words as code, and when to leave them styled as paragraph text."
It could look like this:

"Group each set of thematically related controls in a `fieldset` element. Use the `legend` element to offer a label within each one. The `fieldset` and `legend` element makes it easier for screen reader users to navigate the form.”

Or like this:

"Group each set of thematically related controls in a fieldset element. Use the legend element to offer a label within each on

[2015-09-24 16:26] jameshupp opened #58 "Clarify capitalization of URLs in non-narrative contexts"
I think we want them to be lowercased everywhere unless there's a native style (to someone else's URL) that is CamelCase or something like that. But we should just get really clear about this and, more importantly, _why_. (I continue to be antsy about the content guide becoming a list of things rather than principles and reasons behind the things.

[2015-09-24 16:27] kategarklavs commented on #58
@jameshupp Totally agree that the guide should not be a list of things, but rather things + the principles underlying them. Also in full agreement re: lowercasing URLs.

[2015-10-01 18:55] nicoleslaw opened #59 "Use consistent section headings"
The headings within the guide switch between topics (nouns) and directives (verb phrases). We could clean this up a bit and make it more scannable (happy to do it, just logging for now).

[2015-10-01 20:21] awfrancisco commented on #59
I think that's a great suggestion. I think our general heading style favors directives, but I'm fine with going either way for the guide.

[2015-10-08 13:56] #50 closed

[2015-10-08 13:57] awfrancisco commented on #52
Addressed in #60

[2015-10-08 13:57] #52 closed

[2015-10-08 23:24] tadhg-ohiggins opened #66 "Presentation and composition of URLs/filenames"
URLs are important and frequent, both in terms of referring to them and in terms of composing them so that they are reasonably sensible. Filenames follow most of the same rules, so should be addressed in the same section. Both are important aspects of modern content.

We currently don't have a section for URLs and filenames, but we should.

[2015-10-19 13:46] llolly commented on #9
llolly2000@hotmail.com

[2015-10-28 15:10] awfrancisco opened #70 "Add section on guidance on writing for limited English proficiency users"
This is a goal in the National Action Plan.
https://18f.slack.com/files/gregboone/F0DBY6YFJ/screen_shot_2015-10-28_at_10.00.31_am.png

[2015-10-28 19:10] thecapacity opened #71 "URLs Should Never Stop Working: I think at some point they should"
The language in there makes it sound like a "forever and ever" rule, but I would propose that ever a period of time with enough status codes (e.g. 301) then at some point the URLs should be sunset. This should also be driven by usage data, i.e. if you haven't had a hit on a URL after (x) years it's probably ok to retire.

This is in direct relation to a situation I've seen an agency "endure" where

[2015-10-28 21:13] tadhg-ohiggins commented on #71
I'm in favor of the “forever” rule. Yes, if there are situations where you have to maintain SSL certs for domains you don't use anymore, I can see the argument for eliminating them—but that's a relatively rare case. I'd prefer to keep the notion that URLs are forever (particularly at the stage when people are creating them) foremost than to add language noting the few exceptions.

[2015-10-28 21:50] thecapacity commented on #71
I definitely feel like viewing "URLs as forever" breaks the paradigms of HTTP/REST/... i.e. they wouldn't have status codes if the URLs couldn't move. And URLs can represent transient resources that are not supposed to be long-lived... For example Google's use for photos: http://www.theverge.com/2015/6/23/8830977/google-photos-security-public-url-privacy-protected

And it limits agency's abilities

[2015-10-28 21:57] konklone commented on #71
I think you might be talking about two different things?

Anyone should be fine moving their content around as long as there's a 301 redirect in place. It's okay if `http://www.iab.net/iablog/2015/03/adopting-encryption-the-need-for-https.html` redirects to `http://www.iab.com/adopting-encryption-the-need-for-https/`, with a 301 and `<link rel="canonical">` and all that.

Closing an entire domain

[2015-10-28 21:58] tadhg-ohiggins commented on #71
If we want to introduce something about different rules for transient content, I'm okay with that. This section was written with URLs for content in mind, not for API endpoints or for other resources. But if you put up an article or guide, the expectation should be that the URL for it will work forever.

As for consolidation, redirects are fine for that—but the old URLs should redirect to the new

[2015-10-28 22:02] konklone commented on #71
Of course. For example, `http://www.iab.net/iablog/2015/03/adopting-encryption-the-need-for-https.html` should **not** redirect to `http://www.iab.com` (the home page).

[2015-10-28 23:37] thecapacity commented on #71
In the google image example that is a prior known as transient (to a degree) but what about the website consolidation use case, or what about when someone leaves an agency (and perhaps their bio is by name or for a position no longer valid).

The web changes, and I agree it shouldn't suddenly break but nor should we inflict perpetual support for a legacy structure.

I'd argue the intent is to prot

[2015-10-29 16:08] tadhg-ohiggins commented on #71
When someone leaves an agency their bio should show their time at the agency; I don't see why a 404 is the right response to encourage. Bios do seem like another edge case.

The scenario of URLs breaking when a CMS changes is precisely what I want to discourage. There are relatively easy ways to support redirects from old URLs to new ones. If those ways are technically impossible, then there's no

[2015-10-29 20:08] thecapacity commented on #71
Thanks @tadhg-ohiggins I think the clarity on the "all rules can be broken for the right reasons" and clarifying the intent of the ideal will be a big clarification.

[2015-11-02 17:09] awfrancisco opened #72 "Revise and expand "Conscious language" guidance"
Add something about ableist language along these lines?
https://twitter.com/lizduckchong/status/655952122484101120

[2015-11-02 17:58] brittag commented on #72
This reminds me of GOV.UK's guidance about [inclusive communication](https://www.gov.uk/government/publications/inclusive-communication) - it's more about [how to write about people with disabilities in a respectful way](https://www.gov.uk/government/publications/inclusive-communication/inclusive-language-words-to-use-and-avoid-when-writing-about-disability). I think the content guide could includ

[2015-11-25 06:44] wslack opened #77 "More alternative options on plain language page?"
From https://twitter.com/rseymour/status/669262489549414402, a request for more alternatives on https://pages.18f.gov/content-guide/plain-language/. FWIW, this would also help me. :)

[2015-11-25 10:07] quepol commented on #77
http://www.plainlanguage.gov/howto/guidelines/FederalPLGuidelines/writeNoJargon.cfm
https://insidegovuk.blog.gov.uk/2014/04/11/avoiding-words-to-avoid/
https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#words-to-avoid
https://www.gov.uk/guidance/content-design/writing-for-gov-uk#plain-english

[2015-11-27 19:02] wslack opened #78 "Plain Language Ideas from the Thanksgiving Table"
For https://pages.18f.gov/content-guide/plain-language/

Modify > Change
~~Perform > Do~~
~~Purchase > Buy~~
~~Terminate > End~~
Navigate To > Go To
Image > Picture
Toggle > Switch
Obtain > Get
Configure > Set up
Execute > Run
Halt > Stop
Value > Number

[2015-12-30 21:52] awfrancisco opened #82 "Add guidance for mass emails/newsletters"
More people are moving their email lists to MailChimp and are creating new lists of users of our products. They have been asking for guidance on 18F style for emails. Our content guidance could include:
- Subject line, header, and from best practices
- Newsletter specific tone
- Image, media, and video embedding guidance
- Length an organization guidance
- Strategies for responding

[2015-12-31 00:34] kategarklavs commented on #82
I love it! Let me know if you'd like any help with writing or editing :)

[2016-02-24 20:56] brittag opened #89 "Find a good place to link the 18F Open Source Style Guide"
https://pages.18f.gov/open-source-guide/ is essentially a content guide for open source projects, including writing good readmes. We should find a nice visible way to integrate a link into this guide.

Thought experiment: we could even consider merging the two guides, since a decent-sized chunk of 18F content is open source project content.

[2016-03-16 20:42] nicoleslaw opened #91 "Add guidelines for interface instructions"
Thread starts here: https://18f.slack.com/archives/g-content/p1458155182000024

I will draft something and run it by the team for discussion.

[2016-03-27 19:21] coreycaitlin opened #92 "broken link in EITI example"
In this paragraph on the "Optimize headings and titles" page, the example is outdated and the link goes to a 404 page:

...while this is a great reminder to revisit EITI keywords, that page no longer exists. Happy to fix this, but wanted to note it so I don't forget.

[2016-03-28 13:42] awfrancisco commented on #92
@gboone could you maybe help in finding where this page went? Or finding a new one?

[2016-03-28 14:38] gboone commented on #92
HMMM, I'll look into it. I'm thinking maybe that was on the old EITI site, but not sure.

[2016-04-27 21:22] nicoleslaw opened #94 "Add higher-level content principles"
Working on this branch: https://github.com/18F/content-guide/tree/content-principles

[2016-04-27 21:26] nicoleslaw commented on #94
@awfrancisco Do I need additional admin access to this repo to run the update_nav script?

I am also wondering if I should add some info to introduce these, or if this is clear enough.

[2016-05-26 22:55] tadhg-ohiggins commented on #66
I should have closed this quite some time ago, since the URLs and filenames section has been up for a while.

[2016-05-26 22:55] #66 closed

[2016-05-26 22:57] tadhg-ohiggins commented on #58
The URLs and filenames section has this: “Whether beginning with the protocol or not, always lowercase URLs in text. Paths are case-sensitive, however, so their casing must be preserved.” Is that sufficient to close this issue?

[2016-05-26 23:11] tadhg-ohiggins commented on #59
Some of these are difficult to fix, but how about changing
“Optimize headings and titles” to “Headings and titles”
and
“Publishing legal and technical content” to “Legal and technical content”? Happy to submit a PR if those sound like reasonable changes.

[2016-05-27 15:18] tadhg-ohiggins commented on #89
Linked to in “Publishing legal and technical content”, closing.

[2016-05-27 15:18] #89 closed

[2016-05-31 14:31] nicoleslaw commented on #59
Sounds good to me @tadhg-ohiggins -- happy to help here as well later this week. Let me know if you want to chat through together!

[2016-06-01 20:44] #58 closed

[2016-06-01 20:48] kategarklavs commented on #9
The Handbook has a section on text editors -- during our 6/1/6 guild meeting, we all agreed that publishing this in the Content Guide would be duplicative. Closing this issue for now!

[2016-06-01 20:48] #9 closed

[2016-06-01 20:48] nicoleslaw commented on #8
@emileighoutlaw @awfrancisco I am happy to take a shot at this— @kategarklavs mentioned you had some preliminary text about content testing. Could you point me to that?

[2016-06-01 20:52] nicoleslaw commented on #94
This is up, closing 🎉

[2016-06-01 20:52] #94 closed

[2016-06-01 20:53] nicoleslaw commented on #92
@coreycaitlin I think the example is useful—what do you think of reframing it like, "if you were thinking about titling a section x, consider searching for similar terms like y..."

[2016-06-01 20:55] nicoleslaw commented on #53
This is live, closing this out.

[2016-06-01 20:55] #53 closed

[2016-06-01 21:00] nicoleslaw commented on #28
AP says "fiscal year" and, "We would spell out fiscal year on second reference, as it is not a generally recognized abbreviation. (But, if you do use it, it would be FY 2006.)"

What do you think of going with that?

[2016-06-01 21:02] kategarklavs commented on #28
+1 to this (and I'm OK with using _FY_ as an abbreviation, too).

[2016-06-01 21:05] nicoleslaw commented on #82
Useful reference: http://styleguide.mailchimp.com/writing-email-newsletters/

[2016-06-02 14:19] awfrancisco commented on #8
Is it this blog post? https://18f.gsa.gov/2016/04/19/looking-at-the-different-ways-to-test-content/

[2016-06-02 15:15] emileighoutlaw commented on #8
Yes! It's the blog post. There's also an 18F Edu module, but I think the blog post covers most of the same stuff.

[2016-06-06 14:41] nicoleslaw opened #101 "Clean up Markdown for inline examples"
We have several ways of showing text examples in the content guide. I will review and clean up the markdown.

[2016-06-13 23:17] tadhg-ohiggins commented on #78
Summary of #g-content feelings about these suggestions as of 2016-06-13:
-   Deprecate “modify” and recommend using “change” instead.
-   Do not add the “perform” to “do” recommendation as “perform” is appropriate in many cases.
-   Do not add the “purchase” to “buy” recommendation as “purchase” is appropriate in many cases.
-   Do not add the “terminate” to “end” recommendation as “terminate” is

[2016-06-14 02:14] wslack commented on #78
edited per ^^

[2016-06-14 20:54] #91 closed

[2016-06-15 23:58] tadhg-ohiggins commented on #57
I think this issue is addressed by: https://pages.18f.gov/content-guide/technical-and-interface-writing/#code so I'm closing it. We can open new issues if we have suggestions for changes.

[2016-06-15 23:58] #57 closed

[2016-06-28 18:56] nicoleslaw opened #105 "Duplicate info about numbers"
See:

https://pages.18f.gov/content-guide/numbers-and-percentages/
https://pages.18f.gov/content-guide/specific-words-and-phrases/

I think we should cut the info under the word list (second link).

[2016-06-28 19:08] #28 closed

[2016-07-05 17:37] nicoleslaw opened #107 "Marketing, promotion, and social media"
We don't always have time to help partners promote the work we did together after launch—but we could provide overarching guidance on how to think about that well.

[2016-07-29 18:14] brittag opened #108 "Make a list of project-specific content guides"
As content designers we sometimes build project-specific guides based on the specific needs of the project and the staff on the project. Let's collect examples of these somewhere in our 18F Content Guide.

For example:
- [cloud.gov guide](https://github.com/18F/cg-product/blob/master/ContentGuide.md) that addresses some technical writing topics very specific to that project.

[2016-07-29 18:27] awfrancisco commented on #108
Not sure if this is still accurate, but @kategarklavs and I made a [performance profile guide](https://docs.google.com/document/d/1z6oyBG43c-5PkK9rAvWeK_bI0ojQqZIJCt8VcmsW53U/edit)

[2016-08-03 20:36] kategarklavs commented on #108
And @jeanninehunter and I created a USCIS-specific guide.

[2016-08-03 20:55] coreycaitlin commented on #46
We're going to link to this resource, instead of duplicating.

[2016-08-03 20:55] coreycaitlin commented on #46
(See also #78 & #77)

Our goal: to link to plain language lists instead of maintaining the One True List.

[2016-08-03 20:56] nicoleslaw commented on #108
Should this be an internal list or part of the public guide? Asking because some of these are GSA-only audiences.

[2016-08-03 21:02] nicoleslaw commented on #29
@jameshupp Would this make more sense for the branding team, or are you thinking of partner projects?

[2016-08-03 21:03] nicoleslaw commented on #30
@awfrancisco Do we have a list of project names somewhere? Happy to incorporate them into the guide.

[2016-08-03 21:25] awfrancisco commented on #108
Hm, could it be a mix? With the private links having that same little icon as they do in the handbook? Unless the existence of guide is private (like login.gov since it isn't launched/named) and then we should leave it off.

[2016-08-03 21:29] awfrancisco commented on #30
I think Mel made a list as part of her Dashboard work, but we'll have to dig up that link. Beyond a list of the correct way to write current projects (which I think is a good MVP), I think we should also add some guidance for when 18F teams name their own projects. But that could be a separate issue.

[2016-08-03 21:37] jameshupp commented on #29
@nicoleslaw I was mostly thinking about our own content. I think the branding work has overtaken this issue and is a better place to manage this, but I also think my concern was premature anyway. I'd be fine with closing this as a wontfix as long as someone else concurs.

[2016-08-03 21:39] brittag commented on #29
We have a teeeny bit of advice for this at https://handbook.18f.gov/design/#assets - at least on the level of "try to use US gov public domain images".

[2016-08-03 21:40] brittag commented on #29
In other words, I concur with closing this as wontfix + probably adding any guidance over on that design page.

[2016-08-03 22:11] jameshupp commented on #23
I apologize, first off, for not addressing this issue until more than a year after it was opened. We’ve now committed regular work time to reviewing, deciding, and acting on content guide issues, so we’ll be getting to more of these in a more timely manner going forward.

The stack is a really interesting idea, but we’ve decided to close this issue without making changes to the guide for a couple

[2016-08-03 22:11] #23 closed

[2016-08-03 22:12] #29 closed

[2016-08-09 21:06] coreycaitlin commented on #46
Closing this out — I included this link in #112

[2016-08-09 21:06] #46 closed

[2016-08-09 21:22] coreycaitlin commented on #78
The PR above includes:
- Modify (use _change_ instead)
- Execute (use _run_ or _do_)

The rest of these feel like they'd need a bit more thought.

[2016-08-10 16:38] #14 closed

[2016-08-16 14:38] leahbannon opened #116 "Washington, DC is the way to be"
I propose a change to our style guide to remove the periods from "Washington, D.C." This is the way that the people of DC prefer, as is evident on [dc.gov](http://dc.gov).

Preferring to use the naming conventions that the people of a country or city prefer is [OpenStreetMap](https://www.openstreetmap.org)'s policy, called the [On the Ground Rule](https://wiki.openstreetmap.org/wiki/Disputes#On_th

[2016-08-16 14:44] vdavez commented on #116
I completely endorse this proposal without any reservation.

[2016-08-18 15:04] nicoleslaw commented on #116
(Summarizing my comments from Slack here.)

Changing to the postal code model may confuse people with other entries like `U.S.` That said, I don’t have a preference. Since we are usually writing for screens and mobile readers, I think the periods add characters more than anything.

I am more familiar with Chicago style than AP, and they go with `DC` as briefly noted [here](http://www.chicagomanual

[2016-08-18 15:57] jameshupp commented on #116
My comments, summarized similarly, which have led me to lean toward dropping the periods:
1. AP Style no longer abbreviates state names, which was done in a style that used periods. That meant `D.C.` was the parallel choice, but that style is no longer a thing that exists.
2. We as an organization usually choose to use the terms people use for themselves. I don't know any polling from the District

[2016-08-18 16:43] andrewmaier opened #117 "Create a CONTRIBUTING.md file with voting rules"
I believe the content guild is using a fancy voting system to approve substantive additions/changes to the content guide. Can you detail this process in the repo? (I'm selfishly asking because I'd like to borrow this for the research guild's documentation.)

[2016-08-19 04:14] tadhg-ohiggins commented on #116
+1, but then I'm generally in favor of getting rid of the periods in initialisms.

[2016-08-30 18:36] tadhg-ohiggins commented on #34
https://pages.18f.gov/content-guide/punctuation/#spaces:

I think we cover this already and so am closing this issue; chime in if you object.

[2016-08-30 18:36] #34 closed

[2016-08-30 21:01] tadhg-ohiggins commented on #92
AFAICT this was fixed by https://github.com/18F/content-guide/pull/113, so I'm closing it. Re-open if you have objections.

[2016-08-30 21:01] #92 closed

[2016-08-31 14:13] nicoleslaw commented on #105
Resolving this in the design branch, closing.

[2016-08-31 14:13] #105 closed

[2016-09-01 16:58] #59 closed

[2016-09-01 23:13] nicoleslaw opened #128 "Duplicate info about "citizens""
Need to combine these:

https://github.com/18F/content-guide/blob/18f-pages/_pages/our-approach/address-the-user.md#how-to-talk-about-the-public

https://pages.18f.gov/content-guide/conscious-style/#nationality

[2016-09-01 23:14] nicoleslaw opened #129 "Duplicate info about conciseness"
Need to combine these:

https://pages.18f.gov/content-guide/structure-the-content/#keep-sentences-short-and-sweet

https://pages.18f.gov/content-guide/be-concise/ - if we keep this, we should give credit to GDS for it

[2016-09-02 16:51] kategarklavs commented on #129
+1 to crediting GDS for the "Be concise" content.

In terms of combining, what are you thinking? (I like the idea of keeping the "short & sweet sentences" as a subcategory of the larger "concision" section — for example, "One way to ensure you're writing concisely on the whole is to keep your sentences short and sweet. We recommend keeping sentences to 25 words or fewer, except when absolutely nec

[2016-09-02 16:53] nicoleslaw commented on #129
@kategarklavs You read my mind! I was thinking this short & sweet part should move over so it's easier to find.

[2016-09-02 16:53] nicoleslaw commented on #128
For now, I added a crosslink. Will think about the best way to do referrals within pages.

[2016-09-02 17:12] kategarklavs commented on #129
We are of one mind(!) (And that sounds good!)

[2016-09-02 23:10] toolness opened #131 "Add accessibility guidance for the naming of links"
I can't seem to find any guidance in the content guide on this, so I figured I'd mention it here.

Basically, screen reader users often "skim" content by skipping from one link to another.  This becomes difficult when links are called things that don't make sense out of context. Examples include "click here" and "learn more", which are quite common, so one best practice is to try to name links so

[2016-09-02 23:14] tadhg-ohiggins commented on #131
I meant to include this in the URLs and filenames section, so it might fit in that section.

[2016-09-06 10:50] toolness commented on #131
Cool, do you want me to try to draft a section on this?

Also just found a recent post on [making accessible links](https://www.sitepoint.com/15-rules-making-accessible-links/) which has some other suggestions beyond this one, many of which are content-related.

[2016-09-06 15:30] emileighoutlaw commented on #131
Not to co-opt this conversation, but I have been wondering about button copy that says things like "Learn more," which is a pattern we use on betaFEC. For example:

<img width="758" alt="screen shot 2016-09-06 at 10 29 37 am" src="https://cloud.githubusercontent.com/assets/10552702/18279911/dd48b2ae-741c-11e6-9e9b-6e536ce21db3.png">
_https://beta.fec.gov/registration-and-reporting/_

Is that also

[2016-09-06 19:13] nicoleslaw commented on #131
When we did the IA workshop recently, we talked about having a section on links and SEO (search engine optimization). Let me know if you think that makes sense...happy to help!

[2016-09-06 20:50] tadhg-ohiggins commented on #131
Something not mentioned here that I also like: for `a` elements to have `title` attributes, and for those to have the title of the linked resource as their value.
So if I'm writing:

And I want to make “a tricky words section” into a link, the output HTML should be:

[code]

That way, hovering over the link provides extra information about the link target, and I hope/assume that more advanced scre

[2016-09-07 18:05] nicoleslaw commented on #128
Great thread here: https://18f.slack.com/archives/g-content/p1473259004000125

[2016-09-07 18:18] nicoleslaw commented on #108
One more for EITI: https://github.com/18F/doi-extractives-data/wiki/Content-guide

Maybe this topic is worth incorporating in the [upcoming] Design Wiki and then cross-linking in the Content Guide?

[2016-09-07 18:22] nicoleslaw commented on #116
cc @kategarklavs @emileighoutlaw @awfrancisco Do y'all have a sense of next steps on this? Let me know if I can help.

[2016-09-07 18:24] nicoleslaw commented on #101
Related discussion: https://18f.slack.com/archives/g-content/p1470408769000315

[2016-09-07 18:31] emileighoutlaw commented on #116
Thanks for the ping, and great question. I think we have enough consensus to change the style guide— I can do that now.

How the style guide change impacts the work we've already published on 18f.gsa.gov is (I think) a question for @awfrancisco

Should we also announce the change in #g-content / other channels?

[2016-09-07 19:14] awfrancisco commented on #116
Unclear how this will change existing content. I'll chat with the site team about it. And yeah, I think we should announce it in #g-content, and probably #dc too

[2016-09-07 19:47] toolness commented on #131
Good question!

@tadhg-ohiggins' guidance is good but it only _partially_ works with VoiceOver: when tabbing through the page, it first announces the link text and then announces the `title` after a short pause, which is great.  However, when using VoiceOver's **List links on page** mode (<kbd>Ctrl</kbd>+<kbd>Option</kbd>+<kbd>U</kbd>), we only see and hear the link text. 😞

In these kinds of situ

[2016-09-07 20:38] nickbristow commented on #131
@toolness not a huge fan of `title`. It's a pain for screen readers to access. I like the `sr-only` content added in the link or aria. Just gotta be careful with aria, it usually overwrites default value to SR's.

[2016-09-08 00:53] #116 closed

[2016-09-08 14:03] jeanninehunter commented on #108
Think also applicable is the recently launched login.gov playbook shepherded by @RyanSibley. It features identity management principles for accessing government services:
https://pages.18f.gov/identity-playbook/

[2016-09-08 19:03] #128 closed

[2016-09-08 20:22] #101 closed

[2016-09-09 18:22] coreycaitlin commented on #108
I shared the EITI one with Mannie earlier this week for inclusion in the design wiki, with this little write-up:

[2016-09-13 20:55] awfrancisco opened #137 "New guidance: kanban, not Kanban"
Thoughts? Arrived at this after a discussion with @abrouilette

[2016-09-13 21:24] abrouilette commented on #137
Lowercase-k is correct. "Kanban" is not a proper noun.

[2016-09-13 21:26] kategarklavs commented on #137
I am in favor of not capitalizing improper nouns! (Well, not improper — you know what I mean: regular nouns.)

[2016-09-14 15:17] toolness opened #138 "Add a section about forms/data entry"
I noticed that the content guide doesn't have a section on forms or data entry.

I'm currently reading through the second edition of Aaron Gustafson's [Adaptive Web Design](http://adaptivewebdesign.info) and noticed he had the following to say about it (page 47):

Is this advice something the content guild agrees with?

[2016-09-14 20:52] kategarklavs opened #140 "How should we capitalize scrum?"
Per our 9/14/16 content guild meeting, we'd like to agree on an official 18F capitalization of scrum — let's discuss!

[2016-09-14 21:40] awfrancisco commented on #140
I vote `Scrum`.

I have the same questions about `Lean Startup` as well.

[2016-09-14 21:42] kategarklavs commented on #140
@awfrancisco I agree with `Scrum`. (And I don't yet have a strong opinion about `Lean Startup`, but I'll do some research to formulate an opinion.)

[2016-09-14 22:02] jameshupp commented on #140
I vote `Scrum` when referring to the total set of practices that make up the specific agile method, `scrum` for individual standup meetings that take place within that method. So a `Scrum team` and `Scrum board` but a `daily scrum`. That way, scrums are distinct from the Scrum that they are part of.

@awfrancisco Unless you are referring to an event directly related to the trademark owned by Eric

[2016-09-14 22:10] jameshupp commented on #140
I suppose to be even clearer, we could just declare that at 18F we never refer to a daily standup as a `scrum` and say it's always capitalized.

[2016-09-16 17:08] rtwell commented on #131
stumbled upon this and i _think_ this may be the issue to mention it: http://webaim.org/techniques/hypertext/link_text

just my 2¢

[2016-09-16 17:10] jameshupp commented on #131
@rtwell  This is great! Thanks!

[2016-09-16 17:10] toolness commented on #131
Nice, that is the resource I was looking for when I first wrote this issue, but couldn't find it for some reason. Thanks @rtwell!

[2016-09-16 17:19] nicoleslaw commented on #55
Have we talked about using first name on second reference (on the blog and tweets about our work)? This feels more conversational and friendly to me.

If we're talking about partner agency websites, I would default to AP style as we don't want to be more casual than the White House would be, for example.

[2016-09-16 17:33] jameshupp commented on #55
I definitely prefer using first names when we're describing our team members and things they say/do. It feels weird to me when our writing reads like journalism: We're not investigating as third parties; we're narrating our own story. Even when we're quoting someone, we're inviting them to be part of the telling more than we're relating second-hand.

Since you mention the White House, one thing th

[2016-09-16 19:31] emileighoutlaw commented on #55
I know I'm preaching to the choir here, but one of the things I've noticed in my life as a writer is that people are much more likely to refer to women by their first name on second reference than men.

I'm ¯_(ツ)_/¯  either way on the rule, but I do think clear guidance would help us avoid that icky tendency.

[2016-09-18 20:58] toolness commented on #131
Ok, I've got a draft of this section up on Google Docs:

https://docs.google.com/document/d/1L_ug6MiaXUTH7fiN-9g07OOFJVW674U4x-6V3TkQgK0/edit#heading=h.tizuhp461r1l

Comments are welcome.

Once we've got a general consensus on the content, I can issue a PR!

[2016-09-19 17:51] nicoleslaw opened #141 "Review additional GDS guidance"
GDS kindly shared their [content design patterns](https://docs.google.com/document/d/1q0daZrKs_yoNKuWzd_-D3UEsXfQOmTzxOs1VnSmnnrw/edit#) with us. There may be some topics here that we could learn from—flagging for review and discussion.

[2016-09-19 20:34] awfrancisco commented on #141
Sections that might be good to discuss:
- Linking to specialist content
- Hand holding the user: not sure we need this in the guide but I certainly see it a lot
- Titles and sub-headers that start with verbs: Our heading guidance could use some expansion beyond good SEO practices
- Times
- Long guides: this would be more for a 18F guides editor rather than content, but I certainly think some of ou

[2016-09-19 21:05] awfrancisco commented on #137
Closed by #139

[2016-09-19 21:05] #137 closed

[2016-09-21 13:25] nickbristow commented on #131
👍

[2016-09-21 13:43] nicoleslaw commented on #131
Added some comments. Thanks so much for putting this together! 👏

[2016-09-22 21:56] #131 closed

[2016-09-22 22:12] toolness opened #145 "Style <pre> more cleanly"
As mentioned in #144:

[2016-09-22 22:20] tadhg-ohiggins opened #147 "Consistent use of italics for word-qua-word styling"
I believe we agreed in the 2016-09-14 meeting that we officially sanction:

rather than:

This issue is to keep track of moving towards the former in the content guide.
- [x] https://pages.18f.gov/content-guide/capitalization/ includes “Form 1040, U.S. Individual Income Tax Return” and I can see arguments both ways for leaving it as is or changing it to _Form 1040, U.S. Individual Income Tax Retur

[2016-09-22 22:24] tadhg-ohiggins opened #148 "Move content about link text to its own section?"
Currently it's part of the URLs and filenames section: https://pages.18f.gov/content-guide/urls-and-filenames/#link-text

I think it should probably be its own section.

[2016-09-22 22:29] tadhg-ohiggins opened #149 "Add hover anchor links?"
We generate anchor links as part of the content guide already, for example https://pages.18f.gov/content-guide/technical-and-interface-writing/#guidelines, but if you're on that page and you want to acquire that URL, you have to either add it manually or copy it out of the source code.

There is at least one JavaScript library for making this easier for users: https://milanaryal.com/adding-hover-a

[2016-09-22 23:34] tadhg-ohiggins commented on #55
It looks sort-of like consensus that we should:
- Use first names on second reference when writing about our own teams or work, and when writing blog posts and tweets.
- Follow AP style (mostly last names on second reference) otherwise.

Does that seem reasonable?

[2016-09-22 23:45] kategarklavs commented on #55
This seems reasonable to me! One thing to consider (re: writing about our own team): What should our policy be if we're writing about two people with the same first name? (Doesn't seem like this would come up too too often, though I imagine the situation might arise every so often, and it might be good if we have a policy in place for when it does.)

[2016-09-23 00:10] tadhg-ohiggins commented on #55
Further apparent consensus from Slack discussion:

If there's a chance of confusion on second reference due to the first name being shared by multiple people being referred to, use their full name. (That is, instead of the options of using only last name, or first name plus last initial.)

[2016-09-23 00:13] #145 closed

[2016-09-23 00:17] tadhg-ohiggins commented on #108
We have a number of links, and consensus that we should collect them somewhere, so we should:
- [x] Decide where in the content guide they should go.
- [ ] Add them to that spot.

Adding this to the agenda for the 2016-09-28 guild meeting to finalize a decision on where they should go.

[2016-09-23 16:09] #140 closed

[2016-09-23 17:24] kategarklavs commented on #55
That works for me!

[2016-09-28 00:42] tadhg-ohiggins commented on #55
Okay, last question before writing it up: where in the guide should this go?

[2016-09-28 14:08] awfrancisco commented on #55
I think specific words and phrases.

[2016-09-28 15:45] jameshupp commented on #55
Structurally it's an awkward fit there, though. I kind of wonder whether it shouldn't be its own page under `Our style`? Or if `Names and titles` should be the page, and we pull the title section out of `Capitalization`?

[2016-10-14 20:06] hbillings opened #154 "Missing package.json?"
I'm looking to adapt your lovely redesign for the front-end guild's guide. :) I tried following the `README` to get this set up locally, but `npm` complains that there is no `package.json` to install dependencies from. Are the instructions in the `README` out of date, or should I be looking for the `package.json` elsewhere?

[2016-10-19 20:54] kategarklavs commented on #30
10/19/16 -- In _Specific Words and Phrases_, we could add a _Projects_  subsection (how we treat product/project names).

[2016-10-19 20:57] #38 closed

[2016-10-19 20:57] kategarklavs commented on #30
As discussed during our 10/19 meeting, we'll (as a guild) create a list this week of project/product capitalizations and review at our next meeting.

[2016-10-19 21:02] kategarklavs commented on #55
As discussed during our 10/19 guild meeting, we'll move this conversation over to the channel and (we hope) make a decision at our next meeting — stay tuned!

[2016-10-26 20:41] emileighoutlaw commented on #129
Assigning myself to this issue! PR forthcoming

[2016-10-26 20:47] emileighoutlaw commented on #117
To add something to the effect:
1. An 18F team member files an issue asking for a vote to change a rule
2. Guild members emoji vote thumbs up or thumbs for ~5 business days
3. Discuss results results at guild meeting and implement a change (if necessary)

[2016-10-26 20:59] emileighoutlaw commented on #55
As a first iteration, we'll be including this guidance under _N_ in _Specific words and phrases_

[2016-10-26 20:59] jeanninehunter commented on #72
Started to create list as part of work for spring IRL as well as diversity working group listening tour and subsequent ideation. Will share tentative list for ablest/diversity/inclusive language soonest.

[2016-10-31 15:55] #129 closed

[2016-10-31 16:02] #117 closed

[2016-11-22 22:08] #149 closed

[2016-12-07 20:47] emileighoutlaw commented on #154
Pinging our more technical guild members! @tadhg-ohiggins and @toolness — any idea how to help?

Also, apologies for the delay @hbillings— do you still need an answer on this?

[2016-12-07 20:53] emileighoutlaw commented on #77
Thanks for this issue, folks!

We've merged more word choices and guidance/links.

We'll close this issue, but feel free to open more issues to request additional words and outside resources!

[2016-12-07 20:53] #77 closed

[2016-12-07 20:55] emileighoutlaw commented on #78
We merged in a handful of the requested changes. The others we aren't ready to add at this time, so I'm going to close this issue. As always, thanks for contributing(!), and please do feel free to open more issues if you think of other words and phrases you might like to add to our guide.

[2016-12-07 20:55] #78 closed

[2016-12-07 21:39] emileighoutlaw commented on #72
ping @jeanninehunter

[2016-12-07 21:41] jeanninehunter commented on #72
Whew, it appears the interest arose a year ago, but work on this, in earnest, took place within the last few months, so we'll move forward on this and thanks for the reminder at the latest guild meeting, @emileighoutlaw!

[2016-12-07 21:43] emileighoutlaw commented on #30
This feels like it might find a better home in the 18F site. Passing off to @coreycaitlin

[2016-12-07 21:48] emileighoutlaw commented on #141
Criteria for completion

- [x] Review GDS guidance and Andre's suggestions
- [ ] Open new issues

[2016-12-07 21:52] emileighoutlaw commented on #70
Completion criteria:
- [ ] Research
- [ ] Share findings with team
(after that, we'll open a new issue for implementation)

[2016-12-08 13:14] toolness commented on #154
Oh, I think the README is now out of date? We don't seem to be using a bunch of tools mentioned in the **Running the site** section:

Specifically, steps 3-6 seem to be completely inaccurate; at some point in the past, the content guide might have used `npm` and `webpack`, but it doesn't seem to anymore. Maybe that section should be replaced with something like this:

Thoughts @tadhg-ohiggins ?

[2016-12-08 15:33] hbillings commented on #154
Ha, yeah, I actually wrote up a fix to the `README` to reflect what @toolness wrote in the comment above, and then I never filed the PR. >_<

[2016-12-09 00:38] jeanninehunter commented on #72
Find [attached copy](https://docs.google.com/a/gsa.gov/document/d/1Xj7v57zI9A7pO_6dUX3CwaYiVbDsU-f1vlm84Cjnn4s/edit?usp=sharing) that reflects insight gleaned from the work of some of our Diversity Guild members regarding ability/disability, age, gender, and other topics; different style guides that offer information on specific words/phrases as well as existing definitions/texts contained in our

[2016-12-16 12:06] toolness commented on #154
Hehe. :)  Do you still have that fix on your machine?  If not, I'm happy to change the README and issue a PR.

[2016-12-16 12:22] toolness opened #161 "Link out to (or embed) Google/Udacity accessibility videos"
I've been going through [Google/Udacity's Accessibility course](https://classroom.udacity.com/courses/ud891) and it's really great. While it's advertised as being for "advanced developers", so far a lot of it is still quite useful to folks with basic knowledge of HTML.

In particular, there are a few videos that could be useful to link-out to from the content guide:

* [Navigating with a screen re

[2016-12-21 21:28] emileighoutlaw commented on #154
Can we close this, @hbillings @toolness ?

[2016-12-21 21:41] emileighoutlaw commented on #161
Hey Atul! Thanks for posting this. We think this might have a better home in the 18F Accessibility Guide. Would you be willing to open an issue about this in their repo?

Additionally, we'd be happy to explore ways to build pathways from our Content Guide (perhaps from our accessible links guidance) to the Accessibility Guide.

[2016-12-21 21:41] #30 closed

[2016-12-21 21:46] emileighoutlaw commented on #72
Next steps:
- [x]  Content team to review Jeannine's draft (for content completeness and copyediting) during content workshop!
- [x] Implementation

[2016-12-27 13:02] toolness commented on #154
Hmm, I think we should definitely resolve it first--the README instructions were understandable confusing for @hbillings because they're so out of date. I'll submit a PR to fix it this week!

[2017-01-03 12:43] toolness commented on #161
That sounds good--I'll talk to the other folks in the accessibility guild about figuring out how best to integrate this content, and make sure there are pathways between it and other guides like the Content Guide!

[2017-01-03 12:43] #161 closed

[2017-01-04 21:51] kategarklavs commented on #8
Ping!

[2017-01-11 16:23] emileighoutlaw opened #163 "Review 18F Pages content"
In the 18F Pages migration to Federalist, we're deprecating some content-specific pages. We should take a look at those pages and see if there's anything we want to incorporate into our Content Guide.

https://pages.18f.gov/edu-measure-content
https://pages.18f.gov/edu-voice-and-tone
https://pages.18f.gov/g-content
https://pages.18f.gov/plain-language-tutorial
https://pages.18f.gov/18F-plain-langu

[2017-01-13 18:33] coreycaitlin commented on #163
Decision checklist:

- [x] https://pages.18f.gov/edu-measure-content - issue open to move this into the content guide: #8
- [x] https://pages.18f.gov/edu-voice-and-tone - already in the content guide; #164 adds the resources, which was the only outstanding section not incorporated
- [x] https://pages.18f.gov/g-content
- [x] https://pages.18f.gov/plain-language-tutorial
- [x] https://pages.18f.gov/

[2017-01-13 18:37] kategarklavs commented on #163
We've decided we don't need to incorporate stuff from the g-content page.

[2017-01-13 18:53] coreycaitlin commented on #108
Seems like this belongs under `Content types` (so meta!), and could use a page about the when, why, and how of developing a content guide for your work.

[2017-01-13 19:54] coreycaitlin commented on #163
Let's rescue the Plain Language Tutorial, if possible! I'll ping Jez.

[2017-02-01 21:37] emileighoutlaw commented on #72
Jeannine will bring to XD workshop tomorrow! (2/2/17) 🎉

[2017-02-01 21:41] emileighoutlaw commented on #107
Questions from Content Guild meeting (2/2):

- Would this guidance be for us (18F team?) or partners. Seems like the guide is often a model for other folks rather than advice to them
- Andre confirms that this doesn't overlap with anything that Outreach has created
- There might be some overlap between this and the work being done on transition guides
- Could save time and give other folks guidanc

[2017-02-01 21:43] #163 closed

[2017-02-01 21:45] emileighoutlaw commented on #82
Questions from Content Guild meeting (2/2):

- Would this guidance be for us (18F team?) or partners. Seems like the guide is often a model for other folks rather than advice to them
- Andre confirms that this doesn't overlap with anything that Outreach has created
- There might be some overlap between this and the work being done on transition guides
- Could save time and give other folks guidanc

[2017-02-01 21:46] emileighoutlaw commented on #107
Per Content Guild meeting (2/2), we think this is closely related to: https://github.com/18F/content-guide/issues/82, and we're going to close this issue in favor of it. We think this is a great thing to work on, though!

[2017-02-01 21:46] #107 closed

[2017-02-02 23:54] #154 closed

[2017-03-01 21:43] coreycaitlin opened #166 "Guidance about sunsetting content"
We should write up some of how we think about sunsetting content, the concerns and questions that come up in that process, and how to take care of users in the process of retiring content responsibly.

[2017-03-01 21:47] nicoleslaw commented on #166
I posted some references in the channel starting here: https://gsa-tts.slack.com/archives/g-content/p1488404362000730

[2017-03-01 21:47] coreycaitlin commented on #166
Relevant links from @nicoleslaw:

- [Best practices for archiving and deleting content](http://www.contentstrategyinc.com/best-practices-for-archiving-and-deleting-content/)
- [How Should You Handle Expired Content?](https://moz.com/blog/how-should-you-handle-expired-content)
- [Withdrawing and unpublishing content, and labelling content from previous governments](https://www.gov.uk/guidance/conte

[2017-03-02 17:56] awfrancisco commented on #166
Email I sent in response to the initial question that we could use as a place to start. (I also included the links above)

[2017-03-20 17:12] line47 opened #167 "Add info from Federalist content guide to the site"
There is content on the federalist site for how to write content that is not on the 18F Content Guide site. I think it would be beneficial to have all the content guidelines on the 18F Content Guide and move the following pages from the federalist docs to the content guide and reference them there.
This would give one source of truth for content.

- [Content guide](https://federalist-docs.18f.gov/

[2017-04-12 20:54] emileighoutlaw commented on #167
Hello there! Great to hear from you!

Our Content Guild chatted about this at our meeting, and we feel much of this guidance is very specific to Federalist templates, whereas the 18F Content Guide is more general guidance for writers and editors working in any system or template.

We do think the Federalist documentation could use some help from a content designer, including the use cases, mission

[2017-05-09 01:59] jamiealbrecht opened #169 "Add DevOps on the specific words and phrases page?"
Hi,

I was working on a #writinglab issue and the word DevOps made me pause. I looked it up in the content guide and was sad when it wasn't there. Let's add it?

<3jme

[2017-05-26 21:02] skorasaurus opened #170 "Selecting the file format of your web content"
I am not sure if this is germane to this guide (maybe the accessibility guide is better?) to but I was wondering if you have best practices or determinants whether to publish certain content as PDFs or as HTML.

[2017-06-07 20:41] nicoleslaw commented on #169
I agree, but I have one question: Do we use the term publicly, or is it more of an in-house team term? (It is an industry standard, but I am not sure if we use it in blog posts, etc.)

[2017-06-07 20:41] coreycaitlin commented on #170
@skorasaurus Thanks for contributing! We would love to add a page about best practices around HTML, and when PDF is appropriate.

We may decide to incorporate this guidance into a page about making content flexible (for mobile, printing, or other needs). Would that be helpful for this kind of decision? Are there specific questions or concerns you've needed to address in making this choice?

[2017-06-07 20:44] coreycaitlin commented on #169
Yes! it's a blog tag.

[2017-06-07 20:45] kategarklavs commented on #169
Word — taking this on now ⭐️

[2017-06-07 20:46] nicoleslaw commented on #166
I can take this.

[2017-06-07 20:48] coreycaitlin commented on #167
Sounds like one path forward could be to integrate some guidance based on the Federalist content guide into a "common content types" section of the 18F content guide. (Especially the guidance on clear contact forms.)

[2017-06-07 20:50] coreycaitlin commented on #148
Agreed — this content [link text through screenreader-only text] is useful for people who may be writing content, as well as folks who are naming files/URLs. This new section should also link to the accessibility guide.

[2017-06-07 20:51] kategarklavs commented on #169
Just created a PR — closing this!

[2017-06-07 20:51] #169 closed

[2017-06-07 20:53] coreycaitlin commented on #166
This could go under "our approach," at least at first, but we aren't sure what to call the page!

[2017-06-07 20:58] coreycaitlin opened #173 "add homepage to "Specific words and phrases" guidance"
We prefer `homepage` over `home page`.

[2017-06-08 14:33] #173 closed

[2017-06-08 15:59] nicoleslaw commented on #166
Thinking out loud here... What do you think about the subsection being `Keep refining` and then we have a place to talk about governance and [ongoing testing](https://github.com/18F/content-guide/issues/8)?

[2017-06-08 16:20] kategarklavs commented on #166
@nicoleslaw I really like this idea (especially because we don't have a testing section, though I know the team had discussed putting one together). And I also like it because refining content seems much less harsh than sunsetting, necessary though sunsetting sometimes is ...

[2017-06-09 19:07] skorasaurus commented on #170
(content flexibility) Yes! I'm a Web developer at the Cleveland Public Library and manage our Web Content/information structure on our site ; looking forward to learn more about criteria, standards, best practices of how library information (like policies, procedures, and other information that tends to be stored at pages named "about the library") should be disseminated online and accessible to o

[2017-06-09 19:22] skorasaurus commented on #170
(was on mobile and unable to make edits; but are now in the parent comment

[2017-06-09 19:52] ShawnEklund commented on #170
I'm working a project now and struggling with this same problem-to PDF or not. I ran across Oregon.gov website guidelines that has pretty good rubric for when and why to use a PDF.  http://www.oregon.gov/docs/state_web_guidelines.pdf And yes that is a link to a PDF. Page 8

[2017-06-12 16:47] nicoleslaw commented on #166
Started a draft here: https://docs.google.com/document/d/1XMtAQf_qd1ORVDQ2aVCJ4JtCfMKnv5a95X-86IIChhM/edit#

cc @kategarklavs as it relates to #8

I will add more to the intro and the second section, but I'm curious if this feels like a solid rough take?

[2017-06-12 16:59] kategarklavs commented on #166
@nicoleslaw Howdy! I'm happy to take a look this week (today or tomorrow) 🎉

[2017-06-22 14:20] nicoleslaw commented on #166
This is ready for a final review/editing pass: https://docs.google.com/document/d/1XMtAQf_qd1ORVDQ2aVCJ4JtCfMKnv5a95X-86IIChhM/edit

[2017-07-05 16:59] coreycaitlin commented on #147
https://pages.18f.gov/content-guide/capitalization/ includes “Form 1040, U.S. Individual Income Tax Return” and I can see arguments both ways for leaving it as is or changing it to _Form 1040, U.S. Individual Income Tax Return_. — changed to italics for consistency with the rest of the page.

https://pages.18f.gov/content-guide/conscious-style/#nationality includes the sentence `Depending on the s

[2017-07-05 17:18] coreycaitlin commented on #166
This looks great! I think we should get this moved into a PR!

[2017-07-05 18:04] coreycaitlin commented on #55
Hi @tadhg-ohiggins — any update on this? lmk if you'd like to un-assign yourself, and someone else can pick it up when they have time.

[2017-07-05 18:05] coreycaitlin commented on #70
@kategarklavs Would this be a good candidate for a pairing session? Seems like it might be nice to find sources and main arguments in conversation.

[2017-07-05 18:07] coreycaitlin commented on #71
Hopefully #166 will help add practical clarity and nuance here — do we need to keep this issue open, as well, or does this conversation and the new "maintaining content" page help address the concern?

[2017-07-05 18:07] coreycaitlin commented on #72
@jeanninehunter Hello! Any update on this? Would it be useful to pair on revision and moving this into markdown?

[2017-07-05 18:08] coreycaitlin commented on #82
Is this still worth writing, or could we point to DigitalGov and/or Mailchimp resources on this?

[2017-07-05 18:12] jeanninehunter commented on #72
@coreycaitlin Received feedback in February from content and diversity guild members. Sure, we could revise in tandem and move into markdown.

[2017-07-05 18:13] coreycaitlin commented on #141
@jameshupp Any update on this? Would this be a useful pairing topic?

[2017-07-05 18:30] awfrancisco commented on #82
I think we should point to something for now. @Dahianna is working on something tangental for Outreach that we could include later, but a link is a good MVP. And to encourage people to consider the specifics of the medium they choose to communicate.

[2017-07-05 20:37] #147 closed

[2017-07-05 20:44] coreycaitlin commented on #138
Thanks for raising this @toolness! We discussed in the content guild — notes below.

Notes from Content Guild discussion on this:

- User research is super, super important for forms — any guidance should stress this!
- We do agree with this advice broadly, but this might raise a larger question about whether we need a new section on forms. That said, the way we approach forms is pretty much the s

[2017-07-05 21:00] #166 closed

[2017-07-06 00:05] tadhg-ohiggins commented on #71
My feeling is that #166 will provide enough guidance to close this issue.

[2017-07-11 18:26] nicoleslaw opened #180 "Readme needs a few updates"
Still lists Kate and Emileigh as guild leads, for example.

Also has a few stray primes over apostrophes.

https://github.com/18F/content-guide/blob/18f-pages/README.md

[2017-07-13 21:32] jamiealbrecht opened #181 "Is it sitemap or site map? And should we put that in the content guide?"
Hello!

I was editing some copy with site map as two words. Thought it looked weird, but 🤷‍♀️ . Brought it to the content minds of #g-content.

As @coreycaitlin so wonderfully put it,  "a quick search of casual usage in Slack yields only bewilderment and inconsistency." Same with the internet.

So, we're putting it here and on the agenda to come up with a definitive answer.

<3 and thanks
jamie

[2017-07-13 21:48] ShawnEklund commented on #181
Two words. The [source](https://blog.hubspot.com/blog/tabid/6307/bid/33580/The-Content-Creator-s-Master-List-of-Commonly-Troublesome-Words.aspx) I'm using doesn't provide reasoning. My shallow reasoning for keeping it two words is that I _think_ it's only used as one word when it's part of [Google's protocol](https://en.wikipedia.org/wiki/Sitemaps) to allow web developers to publish lists of links

[2017-08-02 20:38] coreycaitlin commented on #181
AP stylebook seems to treat this as 2 words, per @nicoleslaw.

That said, we've occasionally broken with AP for digital terms, where we may be less conservative.

We're going to conduct a brief internal poll and return with results.

[2017-08-02 20:45] nicoleslaw opened #187 "New section: Writing with and about data"
- Info about process (gather samples of data, review open data standards, etc.)
- How to phrase sentences with data and frame data limitations
  - Define and describe fields
  - Best ways to publish the files/info (spreadsheet? PDF? etc.)
- General tips on data dictionaries and readmes (cross link to open source guide)

cc @RyanSibley @coreycaitlin — would love your input on the draft after I get

[2017-08-02 20:48] coreycaitlin commented on #138
Huzzah, this is done! 🎉 many thanks to @kategarklavs and @toolness and everyone else who reviewed and helped!

[2017-08-02 20:48] #138 closed

[2017-08-02 20:51] coreycaitlin commented on #71
Closing this issue, now that we've built out some guidance about maintaining content in general.

[2017-08-02 20:51] #71 closed

[2017-08-02 20:55] coreycaitlin commented on #55
This may not belong in _Specific words and phrases_ — we're going to try making a new section, albeit brief.

[2017-08-02 20:57] nicoleslaw commented on #55
Relates to #178, @tadhg-ohiggins I will follow up with an alternate idea!

[2017-08-02 20:58] coreycaitlin commented on #8
Closing this issue out, since we have [a start to this content](https://content-guide.18f.gov/keep-refining/#testing-and-ongoing-research) on the "Keep refining" page. If we feel there's need for more in-depth guidance, let's open a new issue for that!

[2017-08-02 20:58] #8 closed

[2017-08-03 14:57] RyanSibley commented on #187
No problem. I'd love to help and contribute where I can.

[2017-08-07 18:13] coreycaitlin commented on #141
Notes from coworking on this with @jameshupp:

- Linking to specialist content — our link guidance covers much of this, but the GDS examples are nice; we might evaluate whether we have robust enough examples of good more-info links, perhaps as part of splitting link guidance into its own page
- Hand holding the user: not sure we need this in the guide but I certainly see it a lot — I'm not sure we

[2017-08-07 18:16] jameshupp commented on #141
A few other things we want to look at before deciding whether to open other issues:

- [ ] Introducing examples, including any comments on preference for "for example" or something else, and preferred placement in a sentence.
- [ ] When introducing jargon and its plain meaning is more useful than avoiding it. When do users need to learn the term?
- [ ] When to use ordered or unordered lists, or no

[2017-08-07 22:24] jeanninehunter commented on #72
@coreycaitlin and I wordsmithed the draft during a content pairing session; we're scheduIed to meet again next week to compIete it.

[2017-08-15 18:30] coreycaitlin commented on #181
Decided! We're breaking from AP here because:

- We found plenty of instances where `sitemap` is used as a non-proper noun.
- We think the single-word version is a little clearer, because it parses as a single noun very quickly (rather than requiring readers to figure out whether "map" is functioning as a noun or verb).
- We found that AP is often a little more conservative in changing standard us

[2017-08-15 18:31] #181 closed

[2017-08-16 20:56] jamiealbrecht opened #190 "Add section on socioeconomic status on the inclusive language (conscious style) page"
What should we keep in mind when we talk about class, socioeconomic status, or income of an individual or group?

[2017-08-21 19:37] jamiealbrecht opened #191 "New section: Giving and receiving feedback on writing"
I keep forgetting to bring this up in our guild meetings. A number of us wrote a guide to [giving and receiving writing feedback](https://docs.google.com/document/d/1aNECZ1-7FzEW7Fp_MJD8ngoRuEhQYz0wTMkB5AepyV4/edit).

Should we add it to the content guide?

[2017-08-30 20:06] coreycaitlin commented on #55
This is resolved with #178 🎉

[2017-08-30 20:06] #55 closed

[2017-08-30 20:11] coreycaitlin commented on #72
Changed the name of the issue to better reflect the full scope of work we wound up tackling on this page.

This content is ready for one more review before we move it to markdown: [Draft here (limited access)](https://docs.google.com/document/d/1Xj7v57zI9A7pO_6dUX3CwaYiVbDsU-f1vlm84Cjnn4s/edit)

[2017-08-31 16:58] nicoleslaw commented on #72
@jeanninehunter @coreycaitlin Thank you so much for taking the time to expand and refine this section of the guide! This looks great. I added some minor suggestions and additions.

[2017-08-31 17:03] jeanninehunter commented on #72
@nicoleslaw Really appreciated the time and sensitivity @coreycaitlin exhibited as we parsed definitions/style suggestions. Also, agree with the suggestions you and @RyanSibley are making in the doc.

[2017-09-13 20:43] coreycaitlin commented on #72
Next step: @coreycaitlin to resolve suggestions/comments, and move to Markdown.

[2017-09-13 20:47] coreycaitlin commented on #191
The consensus is YES, and we think it should go in the "Our Approach" section.

[2017-09-13 20:56] nicoleslaw commented on #108
Rounding up the content guides here for myself:

- [Natural Resources Revenue Data](https://github.com/18F/doi-extractives-data/wiki/Content-guide)
- [FBI Crime Data Explorer](https://github.com/18F/crime-data-explorer/wiki/Content-Guide)
- [cloud.gov](https://github.com/18F/cg-product/blob/master/ContentGuide.md)
- [login.gov](https://github.com/18F/identity-private/wiki/Content-Style-Guide)

[2017-09-13 23:06] annahsgraves commented on #108
@nicoleslaw I'd love to scrub in on this with you - I can probably pull together a CPS project-wide inventory of content guides from our engagement managers pretty easily. Let me know what you think.

[2017-09-14 14:40] nicoleslaw commented on #108
@annahsebok Sounds great, I will set up some time for us!

[2017-09-15 19:05] jamiealbrecht commented on #191
Filed a pull request. :)

[2017-09-15 20:02] kategarklavs commented on #191
@jamiealbrecht Sweet! Want me to review?

[2017-09-15 20:40] jamiealbrecht commented on #191
Yes, thank you! I just assigned you. :)

[2017-09-15 23:16] hollyallen opened #196 "Move to a new CI/CD system"
This repository has been using Travis CI, however access to Travis CI is now turning off. When you need to use this repository again, convert it to a CI/CD system which is in the ITSP such as Circle CI.

[2017-09-17 22:05] wslack commented on #196
I think that this repository is just being published with federalist, so imagine that there won't be a need for circle, but defer to the owners for the final call.

[2017-09-18 11:48] toolness commented on #196
Thanks! I think @tadhg-ohiggins is working on this in #194. I also believe that the [HTMLProofer](https://github.com/gjtorikian/html-proofer) tool is used during CI to ensure there are no broken links etc in the site, so CI is performing a useful service.

[2017-09-18 16:01] tadhg-ohiggins commented on #196
We did use HTMLProofer with Travis. I am working on this, and have run into some ruby/node dependency issues that make it more complicated than I had expected.

[2017-10-11 20:40] tadhg-ohiggins commented on #196
Addressed by moving to Circle CI in https://github.com/18F/content-guide/pull/194

[2017-10-11 20:40] #196 closed

[2017-10-13 19:36] tadhg-ohiggins commented on #170
Corey and I came up with a [draft for internal review (access limited to GSA employees)](https://docs.google.com/document/d/1agN4pQrmL9qS2gCuO82dy67RfAw8Atqq4sL_NjrCIx0/edit).

This will likely become its own page in the content guide once past review.

[2017-10-17 19:40] nicoleslaw commented on #72
Any updates on this? I would like to share it with the USAGov folks.

[2017-10-31 20:01] kategarklavs opened #197 "Add guidance on release notes"
Howdy! A cross-post from the xd content trello board - it might be worth adding guidance on writing human-centered release notes. (We could repurpose the checklist developed for the WDS as a starting point...)

[2017-11-14 17:48] jeanninehunter commented on #72
thx @nicoleslaw for pinging me about this; adding it to top of to-do list! also appreciate all of @coreycaitlin's hard work!

[2017-11-15 12:15] s-arundar opened #198 "Provide writing examples for your guidelines"
Can you provide examples to your writing recommendations? This can give people ideas for improving their writing.

[2017-11-20 17:14] nicoleslaw opened #200 "Add site metadescription"
Ex:

[2017-11-21 15:12] nicoleslaw commented on #108
@kategarklavs Can you share the link to the USCIS guide?

[2017-11-21 16:08] nicoleslaw commented on #108
Drafting here: https://docs.google.com/document/d/1w6yPN27cjJsJiYH9jLyx30bvT98zLqegT0oKvygazc8/edit#

[2017-11-21 16:14] jeanninehunter commented on #108
@nicoleslaw Here's a link to the doc that influenced the USCIS guide, https://docs.google.com/document/d/1s7UFFCaJrBTCVe90iL4d3EhR53-8-pdYPR8wdVRD0DY/edit?ts=568c2d73, but @kategarklavs might have more up-to-date info on this.

[2017-11-21 16:21] nicoleslaw commented on #108
This draft is ready for comments and review!

[2017-11-21 16:45] nicoleslaw commented on #191
Can we close this out?

[2017-11-21 17:06] kategarklavs commented on #191
@nicoleslaw Oh! Yes, I think we can — just checked, and it looks like the PR was merged but we forgot to close this issue 🤦‍♀️

[2017-11-21 17:06] #191 closed

[2017-11-21 18:53] skorasaurus opened #201 "Explicitly state use of Trailing slashes in URLs and paths"
I was wondering about the use of slashes at the end of URLs and paths and went to refer to your [URL and filenames page](https://content-guide.18f.gov/urls-and-filenames). While reading it, I realized that although no rules/guidelines are explicitly mentioned, there are a few rules that are practiced in the document.

I was wondering if that was intentional and suggest to explicitly state guidelin

[2017-11-22 23:06] tadhg-ohiggins commented on #201
Unfortunately, technical considerations (for example, systems that sadly still treat paths with slashes differently from those without) make it difficult to explicitly recommend these approaches. It might be worth adding a section discussing this, which we'll consider. Thanks for the suggestion!

[2017-11-29 20:20] jeanninehunter opened #204 "Updating acronym reference"
@qmanderson1 created a [great breakdown](https://docs.google.com/document/d/1vGleN0yTwibTp8ClXcGGiKVxgM8dTewG_IFeErxU-3Y/edit#heading=h.7ckrp99wgurm) of commonly used acronyms in our shop. Thought this info might be useful to add to the guide - especially helpful for new team members. Could add to [existing page](https://content-guide.18f.gov/abbreviations-and-acronyms/) or add a subpage.

Could b

[2017-11-29 20:30] nicoleslaw commented on #204
I wonder if you might suggest adding this to the Handbook instead of the Content Guide? https://handbook.18f.gov/glossary/

[2017-11-29 20:36] jeanninehunter commented on #204
Thanks, @nicoleslaw, for the suggestion! As long as it appears in a place that's helpful. If it's for the TTS Handbook, then I should close this issue, replacing it with a new GH issue for the handbook, right, @nicoleslaw?

[2017-11-29 20:49] jeanninehunter commented on #204
Closing this issue, replacing it with a [new GH issue](https://github.com/18F/handbook/issues/612) for the TTS Handbook.

[2017-11-29 20:49] #204 closed

[2017-12-05 20:58] #170 closed

[2017-12-06 00:38] coreycaitlin commented on #170
This page is now live as part of the content guide: [Make content web-friendly](https://content-guide.18f.gov/make-content-web-friendly/). 🎉

[2017-12-08 14:26] mopsfelder opened #206 "collaborate: Use it or avoid it?"
The https://content-guide.18f.gov/plain-language/ says to avoid _collaborate_. But _collaborate_ is suggested in favor of _liase_.

[2018-01-04 21:56] #108 closed

[2018-01-05 20:38] coreycaitlin opened #208 "Inclusive language: encourage people-first language"
We got this excellent note via Twitter: https://twitter.com/letterfromflint/status/949356735298457600

We currently encourage this kind of construction in several sections, including the [Ability and disability](https://content-guide.18f.gov/inclusive-language/#ability-and-disability) section, and specify that people should avoid the `the _____s` construction in these spots:

For me, this raises a

[2018-01-05 20:43] kategarklavs commented on #208
Ah, these are good questions. I'm in favor of introducing a more general section on people-first language (and can start work on this, if someone would like to pair with me 😁 ).

Re: socio-economic differences: I haven't seen a ton of examples of references to socioeconomic differences in my work here, but I think adding guidance could be helpful. +1 to "person experiencing homelessness" (as homel

[2018-01-05 21:00] coreycaitlin commented on #208
Whoops! We already had an issue for a section on socioeconomic diversity, thanks to @jamiealbrecht. Added a reference above — it's issue #190

[2018-05-24 20:43] awfrancisco opened #212 "User vs. human centered design"
When 18F talks generally about it's design principles and practice, we often use either `user-centered design` or `human-centered design`. I think we should endorse one phrase as the preferred description for 18F's general design philosophy. This will keep our content consistent and make it less ambiguous. If specific instances or projects call for a more exact phrase, people are free to use and e

[2018-05-24 20:47] awfrancisco opened #213 "Issue templates"
GitHub has a new feature that allows repos to have [multiple issue templates](https://help.github.com/articles/about-issue-and-pull-request-templates/#issue-templates). This repo currently has no templates.

1. Do we need them?
2. Would it be helpful to have both a discussion and a bug fix template?

[2018-05-24 20:47] tbaxter-18f commented on #212
+1 for human centered. I like that it's, well, humanistic. And "user-centered" always reminds me of the possibly-apocryphal Tufte quote "There are only two industries that call their customers ‘users’: illegal drugs and software"

[2018-05-24 20:50] abbeykos commented on #212
+1 for human centered as well. Also, Google Trends supports HCD over UCD (with a growing gap):
<img width="1107" alt="screen shot 2018-05-24 at 4 49 24 pm" src="https://user-images.githubusercontent.com/38867175/40513015-8a35c1fe-5f72-11e8-9116-c81632d40a45.png">

[2018-05-24 20:52] kategarklavs commented on #212
Hey! Repeated from yesterday's meeting (but commenting here so the thought isn't lost) – for the reasons other folks cited, I'm a +1 for HCD; it sounds friendlier, and it's inclusive of folks who aren't current users (but who might, someday, become users).

[2018-05-24 20:54] jameshupp commented on #212
I am certainly sympathetic to `human` here, and I really like Kate's point about people who aren't currently users but might be. But I worry it also has implications we should, at least, be careful about.

1. `user` very clearly includes people using (there's that word again) assistive technologies to interact with a product. While I don't think `human` excludes them, I wonder if it can't tend to

[2018-05-24 20:58] jameshupp commented on #212
Oh, one more concern: stakeholders with decision-making power related to products we work on do sometimes say things like "Well, I'm a user, too" when we point out discrepancies between how they think about the product and how the audience for it thinks about it. That is an even bigger issue if we only call it "human-centered design." How do we use that term to explain the distinction in which hum

[2018-05-24 22:48] andrewmaier commented on #212
I don't believe 18F benefits from prescribing roles to the people we serve vis. the software or services we design. Human needs must drive our work. It's why we practice plain language: if we can say something more simply, we should — even if "users" are more familiar with jargon (for example, "duty station" vs. "where do you work?")

Additionally, 18F authors our `README.md`, `CONTRIBUTING.md`, e

[2018-05-24 22:52] andrewmaier commented on #212
@jameshupp re: stakeholders and power in the design process, have you seen the Method we're working on on [collaborative design](https://docs.google.com/document/d/167FRZ_2lT5YF4AaJdJFjr5p0p65qvjSozuzpvzrHfDc/edit) and [how we might encourage inclusivity in that process](https://docs.google.com/document/d/1JvffcOmZvae4r0jmLG6epywqMG-w3L-JZiknJ6vBrVk/edit)?

[2018-05-24 23:57] wslack commented on #212
I'll +1 what James said. "Human-centered design" obfuscates the need to focus on the needs of the humans who are **using vs making** the service.

I think that HCD is a value that we can and should hold, but the specific transformative practice we are trying to introduce into the vast USG bureaucracy is more accurately and plainly described as "user centered."

[2018-05-25 15:18] jeanninehunter commented on #212
Was looking for examples of journey maps I created as a template to help someone I've met doing D&I work in the community with their project, and revisited a VA PDF **(particularly pages 3-6)**  containing info that seemed relevant to this thread:
http://www.innovation.va.gov/docs/Toward_A_Veteran_Centered_VA_JULY2014.pdf

[2018-05-25 19:07] annahsgraves commented on #213
Are there any particularly problems we would be solving by creating multiple issue templates? Are we struggling with how current issues are filed?

[2018-05-25 19:10] kategarklavs commented on #213
During our guild meeting discussion, we talked about how there aren't any problems (per se) with the current template, but that having two templates might make it easier to track the % of issues that are suggestions (feature requests) and the % that are bug fixes.

[2018-05-25 19:11] annahsgraves commented on #212
After thinking about this and reading everybody's thoughts, I personally lean towards *user* over *human*. While I adore the Google Trends @abbeykos shared (yay for data!), the implications @jameshupp outlined in https://github.com/18F/content-guide/issues/212#issuecomment-391857561 stick out to me as pretty significant and a strong set of reasons to stick with *user*.

[2018-05-25 19:17] annahsgraves commented on #213
That's a fair point! That said, my personal sense is that templates are designed to gather more information than a binary categorization. If there's information we feel has been consistently missing from the issues we get, I think updating the templates is a great way to solve for that, but there may be other ways to gather data on the split between suggestions and bug fixes. For example, we could

[2018-05-25 19:18] kategarklavs commented on #213
For sure! That also seems like a good solution 😁

[2018-05-26 16:30] andrewmaier commented on #212
Was discussing this thread with my friend Elissa this morning (who works with the USDS at the VA by way of Ad Hoc) and she shared an article with [her rationale in favor of human-centeredness](https://www.eduiconf.org/2017/anything-but-users/).

[2018-06-06 19:57] awfrancisco commented on #212
I agree with everything @annahsebok said there. I vote for `user`.

[2018-06-06 20:56] jeanninehunter commented on #72
While #g-content discussed different content guide issues, I noticed this one was still open. Closing since [this content](https://content-guide.18f.gov/inclusive-language/) was published fall 2017.

[2018-06-06 20:56] #72 closed

[2018-06-06 20:59] awfrancisco commented on #213
Closing since I don't think we have a need for these.

[2018-06-06 20:59] #213 closed

[2018-06-06 21:10] awfrancisco commented on #212
We discussed this in the g-content meeting and decided to go with `user-centered design`. We'll add a short not to the specific phrases section to indicate that we prefer `user`. Thanks for the lively discussion!

[2018-06-06 21:10] #212 closed

[2018-08-09 15:37] gall0 opened #217 "Error on `docker-compose up`"
Please advice, I get the following error when I try to compose up.
[code]

[2018-08-09 20:55] mgwalker commented on #217
Hi @gall0!  Quick question to help us understand what's going wrong: are you trying to run this on Windows?

[2018-08-09 21:24] gall0 commented on #217
That is the case. I am using Oracle VM Virtualbox Manager to launch `CentOS Linux release 7.2.1511 (Core)`

[2018-08-10 21:29] wslack commented on #217
@gall0 were you able to run on Jekyll instead?

EDIT: We haven't made a special effort to maintain docker compatibility so this may not be something easily resolved. I can state with confidence that the site builds on Jekyll.

[2018-08-11 16:34] joelinwood commented on #217
I had the same issue with Docker on my Mac. I'll try Jekyll. This thing is awesome, BTW!

[2018-11-19 19:30] clstmbrly opened #220 "Words to Avoid: Implement, Implementation"
Some suggested "Words to Avoid":
- Implement
- Implementing
- Implementation

A recent usage example was this section title:  "Implementing a Solution."  The related guide gives the steps needed to design, build, and install a system.

In some cases, "install" might work for "implement" (as with a system), but implementing a system often includes more than installation.  "Deploy" is often used (fo

[2019-01-22 14:46] juliaklindpaintner opened #221 "Add context for choosing "user-centered" over "human-centered""
Given the strong feelings in the debate over human- vs. user-centered, it seemed to me that including a bit of context on our decision would help illuminate this choice to both internal and external audiences.

I suggest changing the bullet point on the Specific Terms and Phrases page to read something like:

- **user-centered design**, preferred term over human-centered design to describe 18F’s p

[2019-01-22 15:41] juliaklindpaintner commented on #221
Of course, this comment assumes that we want to stick with the choice of "user-centered" as a preference. If not, I'd be in favor of listing both, like:

- **user-centered design**, used interchangeably with human-centered design in 18F's principles and work to describe a focus on those those who are _using_ a service/product (rather than those making it or humans in general).

(and I guess you mi

[2020-02-14 17:22] claireblaustein opened #232 "Search results showing a blank entry"
When searching for "error" the second result turned up as a blank space.

![image](https://user-images.githubusercontent.com/39384914/74550649-bc4d8980-4f1f-11ea-8494-057c579888e6.png)

[2020-02-14 17:59] brentryanjohnson commented on #232
It appears the missing item is a README file. Hypothesis: this file isn't displaying because it lacks front matter, and consequently lacks the `{{ page.title }}` variable.

[2020-05-04 14:34] afeld opened #234 "switch to uswds-jekyll"
This guide is still using the `guides_style_18f` theme, which is deprecated, and isn't compatible with newer versions of Jekyll.

[2020-05-15 22:38] anatecture opened #235 "Noting conversational interchangeability of "user-centered design" and "human-centered design""
On the [Specific Terms](https://content-guide.18f.gov/specific-words-and-phrases/) page, in the definitions of "human-centered design" and "user-centered design" , I suggest we include a note about the conversational interchangeability of the two terms.

While maintaining the term "user-centered design" in written texts is important in order to adhere to the language in the 21st Century IDEA Act,

[2020-05-15 22:41] anatecture commented on #235
I see that @juliaklindpaintner has already made this change, almost a year ago in the PRs! But for some reason, the change hasn't been merged. Can we merge this change?

[2020-05-15 22:41] #235 closed

[2020-06-11 14:08] adunkman commented on #200
Just coming by because the site unfolded with a `none` just now for me:

![image](https://user-images.githubusercontent.com/14930/84394844-73ef6100-abcb-11ea-8182-6685fef21ba5.png)

[2020-06-11 16:16] brentryanjohnson commented on #200
Thank you, @adunkman.

It looks like `index.html` contains the following front matter:

[code]

And here is the `head` include with a conditional that checks for `excerpt` before defaulting to `site.description`.

[code]

Since `excerpt` is `none` in index, it literally results in `none`.

I'll send up a PR for this soon. Thanks again.

[2020-06-11 16:40] brentryanjohnson commented on #234
@afeld The [migration to USWDS is in progress here](https://github.com/18F/content-guide-uswds).

[2020-06-11 18:19] afeld commented on #234
Can we do it in a branch rather than have a redundant repository?

[2020-06-11 18:19] afeld commented on #234
Also, just did the same migration for Before You Ship, if it's helpful as a reference: https://github.com/18F/before-you-ship/pull/458

[2020-06-11 18:41] brentryanjohnson commented on #234
Sure. The content team has been working on this migration ourselves, with no developer support so far. We may need to open a microrequest depending on technical requirements.

[2020-06-11 19:00] #200 closed

[2020-09-23 19:36] #234 closed

[2020-09-23 23:43] brentryanjohnson commented on #232
This should be resolved with #245

[2020-09-23 23:43] #232 closed

[2020-09-23 23:45] brentryanjohnson opened #246 "Prioritize issues"
We have several remaining issues after the port to USWDS. We should consider reviewing and prioritizing them for future changes.

[2020-09-25 18:15] brentryanjohnson commented on #217
Closing for now, since we don't (yet) have Docker for the USWDS version of the guide.

[2020-09-25 18:15] #217 closed

[2020-11-17 19:11] brentryanjohnson opened #251 "Update paths guidance"
Our path changes have resulted in inaccurate path descriptions in `urls-and-filenames`. We should update.

https://content-guide.18f.gov/our-style/urls-and-filenames/#paths

[2020-11-17 19:15] brentryanjohnson opened #252 "Fix non-breaking url path lines"
We have url paths cropped out of the div width. We should break the line and allow it to wrap.

https://content-guide.18f.gov/our-style/urls-and-filenames/#examples

![screenshot of url path examples that show long urls cut off on the right side](https://user-images.githubusercontent.com/32855580/99436192-fe986280-28c5-11eb-8da1-fd115bac0f0f.png)

[2020-11-19 16:05] #251 closed

[2020-11-24 17:07] #252 closed

[2021-01-15 21:18] jstrothman opened #257 "Search.gov analytics are not being collected"
Search.gov analytics for the Content Guide only shows data for 9/16 and 9/17.
I _think_ this is because the `site handle` on the site doesn't match the one specified in the Search.gov admin:

- per Search.gov Admin: `content-guide.18f.gov`
- on site: `18f-content-guide`

Screenshot of limited data in Search.gov admin:
![Screen Shot 2021-01-15 at 3 48 42 PM](https://user-images.githubusercontent.co

[2021-01-15 21:19] jstrothman commented on #257
@brentryanjohnson Would you like me to confirm this is the issue with Search.gov folks?

[2021-01-15 21:22] brentryanjohnson commented on #257
Oof. I thought I fixed this. I'll look into it! Thank you, @jstrothman

[2021-01-15 21:30] brentryanjohnson commented on #257
🤔
<img width="697" alt="18F content guide settings with site handle 18f-content-guide" src="https://user-images.githubusercontent.com/32855580/104780415-9df69c00-5735-11eb-8432-b9c40299ccfc.png">

![config file showing search site handle as 18f-content-guide](https://user-images.githubusercontent.com/32855580/104780417-9f27c900-5735-11eb-8a4b-0f1e3fe94642.png)

[2021-01-15 21:34] jstrothman commented on #257
weird
![Screen Shot 2021-01-15 at 3 45 37 PM](https://user-images.githubusercontent.com/1080991/104780896-83312100-574f-11eb-9066-04808f460951.png)

[2021-02-01 16:54] colinmurphy01 opened #258 "Broken link - /our-style/capitalization"
See last line on page

the link directs to a 404.

[2021-02-01 21:19] #258 closed

[2021-06-11 23:32] chylu opened #263 "Voice and tone uses the word "tone-deaf""
The guidelines for _Inclusive language_ state:

- https://content-guide.18f.gov/our-style/inclusive-language/

However, the _Voice and tone_ section goes on to say:

- https://content-guide.18f.gov/our-style/voice-and-tone/
(The phrase is even bolded on the page!)

I think this problematic phrase might be best addressed by making the passage more concise.

From:

To:

[2021-06-11 23:58] brentryanjohnson commented on #263
Excellent catch. Thank you, @chylu.

[2021-06-14 13:12] #263 closed

[2021-07-20 23:00] brentryanjohnson commented on #257
Resolved

[2021-07-20 23:00] #257 closed

[2021-07-20 23:03] brentryanjohnson opened #268 "Footer no longer sticks to bottom"
Our recent footer change resulted in the footer floating above the bottom of the viewport.

# Current
![Content guide footer floating halfway up the page](https://user-images.githubusercontent.com/32855580/126406052-0d7afbaa-0788-4c3d-a574-3ea0ec91ed6c.png)

# Before
![Content guide footer locked to bottom of screen](https://user-images.githubusercontent.com/32855580/126406029-0d5be1cb-dfce-4285-9

[2021-07-20 23:18] #268 closed

[2021-10-27 19:57] brentryanjohnson commented on #180
The README is now up to date!

[2021-10-27 20:00] brentryanjohnson commented on #221
This suggestion was added with #227.

[2021-10-27 20:23] brentryanjohnson commented on #167
It looks like the Federalist team removed content guidance, and now links to the 18F content guide.

[2021-10-27 20:40] brentryanjohnson commented on #206
We made this change!

[2021-10-27 20:45] brentryanjohnson commented on #201
Closing for now. We may revisit this if research points us to it again!

[2021-10-27 20:57] brentryanjohnson commented on #246
This is happening now!

[2021-12-07 23:50] mgwalker commented on #70
Closing as stale, on the assumption that the need will resurface if it still exists.

[2021-12-07 23:50] #70 closed

[2021-12-07 23:53] mgwalker commented on #141
Closing as stale, on the assumption that the need will resurface if it still exists.

[2021-12-07 23:53] #141 closed

[2021-12-07 23:53] mgwalker commented on #148
Closing as stale, on the assumption that the need will resurface if it still exists.

[2021-12-07 23:53] #148 closed

[2021-12-07 23:56] mgwalker commented on #187
Closing as stale, on the assumption that the need will resurface if it still exists.

[2021-12-07 23:56] #187 closed

[2021-12-07 23:57] mgwalker commented on #190
Closing as stale, on the assumption that the need will resurface if it still exists.

[2021-12-07 23:57] #190 closed

[2021-12-07 23:57] mgwalker commented on #197
Closing as stale, on the assumption that the need will resurface if it still exists.

[2021-12-07 23:57] #197 closed

[2021-12-07 23:58] mgwalker commented on #208
Closing as stale, on the assumption that the need will resurface if it still exists.

[2021-12-07 23:58] #208 closed

[2021-12-08 01:43] mgwalker commented on #220
Closing as stale, on the assumption that the need will resurface if it still exists.

[2021-12-08 01:43] #220 closed

[2021-12-08 01:43] mgwalker commented on #82
Closing as stale, on the assumption that the need will resurface if it still exists.

[2021-12-08 01:43] #82 closed

[2022-10-17 20:07] markXLIX opened #283 "Asian American Journalists Association Handbook - content not available"
https://content-guide.18f.gov/our-style/inclusive-language/
Section: Media style guides for race, ethnicity, and religion
Link to Asian American Journalists Association Handbook points to a AAJA page without content.

According to [this page](https://www.aaja.org/2020/11/30/guide-to-covering-asian-pacific-america/) the new handbook is under development as of 2021-12-01.  I cannot find mention of i

[2022-10-26 13:51] michelle-rago commented on #283
Thanks for flagging! I like the idea of updating the link to https://www.aaja.org/2020/11/30/guide-to-covering-asian-pacific-america/ to reflect the current situation (which includes the link to the Conscious Style Guide, as you mentioned).

[2022-10-26 13:58] michelle-rago commented on #283
On second thought, we'll link to https://www.aaja.org/news-and-resources/guidances/ for now. Thanks again for letting us know!!

[2022-10-26 14:03] #283 closed